/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */


@font-face {
  font-family: "nerdfont";
  src: url(/fonts/ibm-3270.ttf);
  }


  
  body {
  background-image: url(/images/spacednetverse.png);
  font-family: "nerdfont";
  /* background-color: #060d0b; 
  font-family: "nerdfont";
  color: #3a7562;
  margin: 40px;
  padding: 20px;
  border-style: dashed;
  border-left-width: 5px;
  border-right-width: 5px;
  border-color: #2b5329; 
  fixed sum stuff, now the background should STAY in the background*/
  }
  a {
  color: #9ccc9c; 
  }
  p {
  color: #3a7562;
  }
  h1 {
  color: #0e6b0e;  
  }
  ul {
  color: #3a7562; 
  }
  ol {
  color: #3a7562; 
  }

  #topmenu {
   background-color: #0c1814;
   border-style: solid;
   border-width: 3px;
   padding: 20px;
   padding-bottom: 20px;
   border-color: #0e6b0e;
  }
  #mainmenu {
   background-color: #060d0b;
   color: #3a7562;
   margin: 40px;
   margin-top: 1px;
   margin-bot: 1px;
   padding: 20px;
   border-style: dashed;
   border-left-width: 5px;
   border-right-width: 5px;
   border-color: #2b5329;
   opacity: 0.88;

  }
  #botmenu {
   background-color: #0c1814;
   border-style: solid;
   border-width: 3px;
   padding: 20px;
   padding-top: 20px;
   border-color: #0e6b0e;
  }
  #abtmain {
   text-align: center;
   background-color: #060d0b;
   color: #3a7562;
   margin: 40px;
   padding: 20px;
   border-style: dashed;
   border-left-width: 5px;
   border-right-width: 5px;
   border-color: #2b5329;
   opacity: 0.88;
  }
  #resourcepackpage {
  text-align: center;
   background-color: #060d0b;
   color: #3a7562;
   margin: 40px;
   padding: 20px;
   border-style: dashed;
   border-left-width: 5px;
   border-right-width: 5px;
   border-color: #2b5329;
   opacity: 0.88;
  }
  